/*------------------------------------*\
    $CONTENU
\*------------------------------------*/
/**
 * CONTENU.............Vous êtes en train de le lire
 * RESET...............Réinitialisation des styles par défaut
 * FONT................Les polices de caractère
 * ELEMENTS..............Style global de l'application
 */






/*------------------------------------*\
    $RESET
\*------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

button:focus {
    outline: none;
}

a:hover {
    border: none;
    color: inherit;
}





/*------------------------------------*\
    $FONT
\*------------------------------------*/
@font-face {
    font-family: "ITCAvantGardeW04-Book";
    src: url("../fonts/1122878/daa5c000-4e87-40e9-9689-eec7fd2a19e1.eot?#iefix");
    src: url("../fonts/1122878/daa5c000-4e87-40e9-9689-eec7fd2a19e1.eot?#iefix") format("eot"), url("../fonts/1122878/e58aa4f4-3fa9-4138-9cc9-712e1955902c.woff") format("woff"), url("../fonts/1122878/b335d0cc-8594-4212-a73a-eb2a55d2b008.ttf") format("truetype"), url("../fonts/1122878/3fec63b6-5c06-495d-8bad-0555b665ab8e.svg#3fec63b6-5c06-495d-8bad-0555b665ab8e") format("svg");
}
@font-face {
    font-family: "ITCAvantGardeW04-Bold";
    src: url("../fonts/1122872/4440e247-5f11-4b81-81fc-4f2e5a9573ff.eot?#iefix");
    src: url("../fonts/1122872/4440e247-5f11-4b81-81fc-4f2e5a9573ff.eot?#iefix") format("eot"), url("../fonts/1122872/b4cf0471-a031-48a8-a02a-0000def6fd87.woff") format("woff"), url("../fonts/1122872/67eef87d-0308-420c-99da-8e75af66f09f.ttf") format("truetype"), url("../fonts/1122872/91b0afed-75b4-473d-a2ae-04a3679f2a1c.svg#91b0afed-75b4-473d-a2ae-04a3679f2a1c") format("svg");
}





/*------------------------------------*\
    $ELEMENTS
\*------------------------------------*/

body {
    font-family: 'ITCAvantGardeW04-Book';
    color: #484848;
}

section {
    position: relative;
    overflow-y: hidden;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

b {
    font-family: 'ITCAvantGardeW04-Bold';
    font-weight: normal;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
    /* text-shadow: 2px 2px #bbbbbb; */
}

h3 {
    font-weight: 600;
    margin-top: 40px;
    text-align: left;
}

hr {
    border-color: #999;
    margin-top: 7px;   
    border-bottom: 1px solid #eee;
    width: 150px;
    margin-left: 0;
    /* border-width: 2px; */
    margin-bottom: 30px;
}

p {
    line-height: 1.5;
    text-align: left;
}







/*------------------------------------*\
    $OBJET ET ABSTRACTION
\*------------------------------------*/

.clearfix {
    clear: both;
}

.left {
    float: left;
}

.right {
    display: inline-block;
    float: right;
}

.wrap {
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.w33 {
    width: 33%;
    display: inline-block;
    height: 100%;
    position: relative;
    vertical-align: middle;
}

.content-block {
    display: inline-block;
    height: 100%;
    position: relative;
    vertical-align: middle;
    margin: 20px;
    text-align: left;
}

.content-block p {
    width: 300px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.icon {
    display: inline-block;
    max-width: 40px;
    max-height: 40px;
    padding: 0;
}

.icon-30 {
    height: 30px;
}

.title {
    display: inline-block;
    vertical-align: top;
    padding-top: 10%;
    width: 73%;
}

.container {
    max-width: 1300px;
    margin: auto;
    width: initial;
    text-align: center;
}

button img {
    vertical-align: middle;
}

.connection-btn {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: #cccccc 0px 5px 1px;
    padding: 3px 10px;margin-right: 30px;
}

.connection-btn:hover {
    border: solid #444444 1px;
    color: #000000;
    box-shadow: none;
}

.parallax-window {
    height: 550px;
    background-attachment: fixed;
    background-size: cover;
}

section:not(.parallax-window) {
    background-color:#ecf0ef;
    padding: 10px;
}

.plane-view {
    margin: auto;
    display: block;
    height: 300px;
}

section .container p {
    margin-right: 50px;
}

section .connection-btn {
    background-color: #ffffff;
    padding: 3px 15px;
    margin-top: 100px;
}







/*------------------------------------*\
    $COMPOSANTS
\*------------------------------------*/

/** HEADER */

header {
    position: absolute;
    z-index: 1;
    width: 100%;
    font-size: 12px;
}

header .left {
    margin-left: 20px;
}

header .right {
    margin-right: 10px;
    text-align: right;
}

header .left .icon {
    margin-left: 10px;
    width: 32px;
    margin-top: 30px;
}

header .right .icon {
    margin-left: 0px;
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

header img.logo {
    margin: 5px 20px;
}

header h1 {
    display: inline-block;
    color: #002ADF;
    font-size: 20px;
    margin: 0;
    vertical-align: middle;
}

header img.point {
    display: inline-block;
    margin: 5px 40px;
    width: 10px;
}

header h2 {
    display: inline-block;
    color: #002ADF;
    line-height: normal;
    font-size: 12px;
    margin-top: auto;
}

header .connection-btn {
    margin-right: 30px;
    margin-top: 30px;
}


/** FLYLIST OVERVIEW */

.flylist-overview {
    background-image: url("../images/back1.png");
}


/** DISCOVER */

.discover .screenshot {
    margin-left: -90px;
}

/** FLYDETAILS OVERVIEW */

.flydetails-overview {
    background-image: url("../images/back2.png");
}

/** SHARE */

section.share {
    padding-top: 50px;
    padding-bottom: 30px;
}

.share .screenshot {
    margin-left: -90px;
}

/** MAP OVERVIEW */

.map-overview {
    background-image: url("../images/back3.png");
}

/** LAST FLIES */

section.last-flies {
    padding-top: 40px;
    padding-bottom: 40px;
}

.last-flies h3 {
    text-align: center;
}

.last-flies hr {
    text-align: center;
    margin: 15px auto;
}

.fly-block {
    display: inline-block;
    margin: 30px 40px;
}

.fly-block .screenshot {
    width: 260px;
    height: 260px;
}

/** FOOTER */






/*************************************************/
/*               Page d'accueil                  */
/*************************************************/

.bg {
    height: 730px;
    background: url("../images/chateau.jpg") no-repeat center center;
    background-size: cover;
}

.logo_centre{
    position: absolute;
    width: 440px;
    height: 280px;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -220px;
    color: #FFFFFF;
    text-align: center;
    /* background-color: rgba(200,200,200,0.5); */
}

.instructions {
    position: absolute;
    top: 300px;
    left: 100px;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
}

.instructions #ou {
    margin: 20px 0px;
}

.instructions .button {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.75);
}

.instructions .button:hover {
    background-color: rgb(255, 255, 255);
}

.instructions a:hover {
    color: inherit;
}

#suggestions {
    overflow: hidden;
    height: 506px;
}

#suggestions #controls {
    padding: 40px 60px 20px 60px;
}

#suggestions #controls div {
    display: inline-block;
}

#suggestions #controls a {
    color: #002ADF;
}

.carousel {
    margin-left: 40px;
}

.carousel .thumbnail {
    width: 250px;
    background-color: rgba(255, 255, 255, 0.75);
    display: inline-block;
    text-align: center;
    font-size: 10px;
    padding: 0;
    margin: 20px 20px 60px 20px;
}

.carousel .thumbnail:hover {
    background-color: rgb(255, 255, 255);
}

.carousel .thumbnail .miniature {
    margin: 0 0 20px 0;
}

.carousel .thumbnail .icon {
    max-height: 100px;
    max-width: 100px;
    margin: 20px auto 30px auto;
}